@*@model List<string>*@

@{
    ViewBag.Title = "PassViewModel";
}

<h2>PassViewModel</h2>
公司名稱：@ViewData["Company"]<br/>
公司地址：@ViewBag.Address<br />
販賣如下：

<ul>
    @foreach (var pet in Model)
    {
        <li>@pet</li>
    }
</ul>

